:root {
  --font-size: 16px;
  --font-family: "Montserrat", sans-serif;
  --text-color: #005845;
  --body-color: #e8f1ee;
  --primary-color: #008b7f;
  --primary-color-100: #00ffd1;
  --secondary-color: #ec6608;
  --secondary-color-800: #ff0000;
  --white-color: #fff;
  --light-color: #e8f1ee;
  --light-color-500: #afc7c0;
  --gray-color: #8c8c8c;
  --border-color: #afc7c0;
  --border-color-100: #e8f1ee;
}
